In [1]:
#import necessary packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import seaborn
from scipy.stats import norm

In [2]:
#pull historical data from excel spreadsheet and store it in a data frame

df_data = pd.read_excel(r'C:\Users\sudyu\Downloads\Bond Data.xlsx')
df_data.head()

       Dates  10yr Teasury Bond Yields (Jan 2021 - Present)
0 2022-08-01                                          2.608
1 2022-07-29                                          2.651
2 2022-07-28                                          2.677
3 2022-07-27                                          2.788
4 2022-07-26                                          2.809

In [3]:
#pre-process the Dates data to prepare for calculations

df_data['Dates'] = pd.to_datetime(df_data['Dates'])
df_data.set_index('Dates', inplace=True)
df_data.head()

            10yr Teasury Bond Yields (Jan 2021 - Present)
Dates
2022-08-01                                          2.608
2022-07-29                                          2.651
2022-07-28                                          2.677
2022-07-27                                          2.788
2022-07-26                                          2.809

In [9]:
#maniuplate and modify dataset to calculate and list the daily change in yields

df_data["daily change"] = df_data["10yr Teasury Bond Yields (Jan 2021 - Present)"].pct_change(-1) 
df_data.head()

            10yr Teasury Bond Yields (Jan 2021 - Present)  daily change
Dates
2022-08-01                                          2.608     -0.016220
2022-07-29                                          2.651     -0.009712
2022-07-28                                          2.677     -0.039813
2022-07-27                                          2.788     -0.007476
2022-07-26                                          2.809      0.003931

In [5]:
#define the lookback periods

lookback_periods = [50, 100, 200, 300]

In [10]:
#iterate through each lookback and perform calculations

for period in lookback_periods:
    
    #utilize the historical method and a 99% confidence interval for VaR calculation
    VaR_period = df_data["daily change"].rolling(window=period).quantile(0.01)
    
    # get the last VaR value for each period
    last_VaR = VaR_period.dropna().iloc[-1]
    
    # print the results
    print(f"{period} day VaR: With 99% confidence, the worst daily loss will not exceed {round(last_VaR * 100, 2)}%")

50 day VaR: With 99% confidence, the worst daily loss will not exceed -6.41%
100 day VaR: With 99% confidence, the worst daily loss will not exceed -5.18%
200 day VaR: With 99% confidence, the worst daily loss will not exceed -6.11%
300 day VaR: With 99% confidence, the worst daily loss will not exceed -6.99%